# Virtual env
.venv

# Env files
.env

# macOS
.DS_Store

# folder to store bytecode file
__pycache__

# gradio certificates
.gradio

# db file for 017
002_week/day_4/prices.db

# cpp file for 034
004_week/day_3/main
004_week/day_4/main
004_week/day_5/main

# vector_db from 041 of 005_week
vector_db

# preprocessed_db from 048 of 005_week
preprocessed_db
